.contenedor {

  background-image: url("/assets/images/background.png");
  width: 100%;
  min-height: 800px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;

}
