<div class="grid-container">
  <div class="grid-item" *ngFor="let archivo of archivos"  (mouseover)="overEvent()">
    <p>{{ archivo }}</p>
    <figure id="img-div">
      <img id="image" src="/pic.jpg" />
    </figure>
    <div class="controls">
      <ul style="padding-left: 0px !important" >
        <li (click)="pausarAudio()">
          <div class="icon-pause btn">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="pause"
            ></mat-icon>
          </div>
        </li>
        <li class="play" (click)="reproducirAudio(archivo)">
          <div class="icon-play btn">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="play_arrow"
            ></mat-icon>
          </div>
        </li>
        <li (click)="detenerAudio()">
          <div class="icon-stop btn">
            <mat-icon
              aria-hidden="false"
              aria-label="Example home icon"
              fontIcon="stop"
            ></mat-icon>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>
