<div mat-dialog-content>
  <div class="card">
    <div class="presentacion">
      <div class="slideshow-container" #myDiv>
        <div class="mySlides fade">
          <img [src]="images[slideIndex]" id="img_content" name="img_content" class="img_avt" />
        </div>

        <a class="prev">&#10094;</a>
        <a class="next" (click)="avanzarImage(1)">&#10095;</a>
      </div>
      <div>
        <h2 style="text-align: center">Hato APP</h2>
        <p class="txt_presentacion">Desarrollado con mucho cariño para Hato Joestar y su comunidad.</p>
        <p class="txt_presentacion">
          Si deseas conocer mas de ella no olvides revisar sus redes sociales.
        </p>
        <p></p>
        <p></p>
        <span
          ><div class="redes_sociales">
            <a target="_blank" href="{{ twitch }}" class="fa fa-twitch"></a>
            <a target="_blank" href="{{ facebook }}" class="fa fa-facebook"></a>
            <a
              target="_blank"
              href="{{ instagram }}"
              class="fa fa-instagram"
            ></a>
            <a target="_blank" href="{{ twitter }}" class="fa fa-twitter"></a>
            <a target="_blank" href="{{ youtube }}" class="fa fa-youtube"></a>
          </div>
        </span>
      </div>
    </div>

    <br />
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="success" mat-dialog-close>Cerrar</button>
</div>
