<div mat-dialog-content>
  <div class="card">
    <div class="presentacion">
      <div class="img-bx">
        <img id="image" src="/hato_img.JPG" />
      </div>

      <div>
        <h2 style="text-align: center">Hato APP</h2>
        <p>Desarrollado con mucho cariño para Hato Joestar y su comunidad.</p>
        <p>
          Si deseas conocer mas de ella no olvides revisar sus redes sociales.
        </p>
        <p></p>
        <p></p>
        <span
          ><div class="redes_sociales">
            <a href="#" class="fa fa-twitch"></a>
            <a href="#" class="fa fa-facebook"></a>
            <a href="#" class="fa fa-twitter"></a>
            <a href="#" class="fa fa-youtube"></a>
            <a href="#" class="fa fa-instagram"></a>
          </div>
        </span>
      </div>
    </div>

    <br />
  </div>
</div>
<div mat-dialog-actions>
  <button mat-raised-button color="success" mat-dialog-close>Cerrar</button>
</div>
